###############################################################################
# My Vacations
#
###############################################################################

holiday.de-DE1.name=Urlaub
holiday.de-DE1.date=20190101
holiday.de-DE2.name=Urlaub
holiday.de-DE2.date=20190102
holiday.de-DE3.name=Urlaub
holiday.de-DE3.date=20190103
holiday.de-DE4.name=Urlaub
holiday.de-DE4.date=20190104
holiday.de-DE5.name=Urlaub
holiday.de-DE5.date=20190107
holiday.de-DE6.name=Urlaub
holiday.de-DE6.date=20190108
holiday.de-DE7.name=Urlaub
holiday.de-DE7.date=20190109
holiday.de-DE8.name=Urlaub
holiday.de-DE8.date=20190110
holiday.de-DE9.name=Urlaub
holiday.de-DE9.date=20190111

